{% extends 'core/base.html' %}

{% load static %}
{% block title %} Welcome | {% endblock %} 

{% block content %}



{% for p in novos_destaques %} 
<div class="slideshow-container">
  <div class="mySlides fade">
    <p>{{p.imageURL}}</p>
  </div>  
</div>
{% endfor %}   


<div class="columns is-multiline mb-6">
  <div class="column is-12 has-text-centered mt-6 mb-6">
    <h2 class="is-size-3">Produtos Recentes</h2>
  </div>

  {% for product in newest_products %} 
  
    {% include 'product/parts/list_item.html' %} 
  
  {% endfor %}
</div>


{% endblock %}
