{% extends 'core/base.html' %}

{% block title %} Welcome | {% endblock %} 

{% block content %}

<h1>Destaque</h1>

<div class="w3-content w3-display-container">
 <img src="{{ 'media/uploads/uploads/Calcado.jpg' }}" >
    
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">
    &#10094;
  </button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">
    &#10095;
  </button>
</div>

<div class="columns is-multiline mb-6">
  <div class="column is-12 has-text-centered mt-6 mb-6">
    <h2 class="is-size-3">Produtos Recentes</h2>
  </div>

  {% for product in newest_products %} 
  
    {% include 'product/parts/list_item.html' %} 
  
  {% endfor %}
</div>



<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs((slideIndex += n));
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
{% endblock %}
